<?js
var templates = env.conf.templates;
var examples = env.conf.opts.tutorials;
var css = templates.css;
var logo = templates.logo;
var footerText = templates.footerText;
var logoUrl = 'https://flow.aspectron.com/resources/images/logo.png';
var width, height;
var name = templates.name || package.name || title;
var tutorialsName = templates.tabNames.tutorials;
var apiName = templates.tabNames.api;
var style = '';
var version = '';
var logoLink = '../';
var googleFonts = (typeof templates.googleFonts != 'undefined') ? templates.googleFonts : 'Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700'

if (logo) {
    logoUrl = logo.url || logoUrl;
    logoLink = logo.link || logoLink;
    width = logo.width;
    height = logo.height;
}
width = width || '100px';
height = height || '100px';

if (width) {
    style += 'width: ' + width;
}

if (height) {
    style += '; height: ' + height;
}

if (package) {
    version = package.version;
}
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <title><?js= title + ' | ' + name ?></title>

    <link rel="stylesheet" type="text/css" href="<?js= flowUxPath ?>flow-ux.css" />
    <script type="module" src="<?js= flowUxPath ?>flow-ux.js"></script>
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-jsdoc.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/flow-doc.css">
    <?js if(googleFonts){ ?>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=<?js= googleFonts ?>">
    <?js } ?>

    <?js if (css) { ?>
        <?js css.forEach(function(style) { ?>
            <link type="text/css" rel="stylesheet" href="<?js= style ?>">
        <?js }) ?>
    <?js } ?>
	<link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/all.min.css" />
</head>
<body class="loading">
<flow-app floating-drawer_ main-v-box>
    <div slot="header"><?js= title + ' | ' + name ?></div>
    <div slot="header" class="flex"></div>
    <a slot="header" class="link active" href="index.html">Home</a>
    <!-- a slot="header" class="link" href="#">Support</a -->
    <div slot="drawer">
        <nav class="lnb" id="lnb">
        <div class="logo" style="<?js= style ?>">
            <?js if (logoLink) { ?>
                <a href="<?js= logoLink?>" rel="noopener noreferrer">
                    <img src="<?js= logoUrl?>" xwidth="100%" xheight="100%" style="max-width:100%;max-height:100%;">
                </a>
            <?js } else { ?>
                <img src="<?js= logoUrl?>" width="100%" height="100%">
            <?js } ?>
        </div>
        <div class="title">
            <h1><a href="index.html" class="link"><?js= name ?></a></h1>
            <?js if (version) { ?>
                <span class="version">v<?js= version ?></span>
            <?js } ?>
        </div>
        <div class="search-container" id="search-container">
            <div class="search-container-inner">
                <input type="text" placeholder="Search">
                <ul></ul>
            </div>
        </div>
        <?js if (examples) { ?>
            <ol class="lnb-tab">
                <li id="api-tab">
                    <a href="#"><h4><?js= apiName ?></h4></a>
                </li>
                <li id="examples-tab">
                    <a href="#"><h4><?js= tutorialsName ?></h4></a>
                </li>
            </ol>
        <?js } ?>
        <a class="btn btn-primary btn-sm show-hide-inherited-btn" data-action="hide">Hide inherited</a>
        <?js= this.nav ?>
    </nav>
    <!--div id="resizer"></div-->
    </div>
    <div slot="main" class="main-content">
        <div class="main" id="main">
            <?js= content ?>
            <?js if(isComponentPage){ ?>
                <jsdoc-<?js= t_a_g_ ?> class="component"></jsdoc-<?js= t_a_g_ ?>>
            <?js } ?>
        </div>
        <style>
            .footer-text, .footer-text a { font-size: 10px; }
            .footer-text { text-align: center; width:100%; }
        </style>
        <div>
            <!-- img class="logo" src="<?js= logoUrl?>" style="<?js= style ?>" -->
            <div class="footer-text"><?js= footerText || `Copyright (c) 2019-${(new Date()).getFullYear()} ASPECTRON Inc. All Rights Reserved. &bull; <a href="https://flow.aspectron.com">https://flow.aspectron.com</a> &bull; <a href="https://github.com/aspectron/flow-ux">https://github.com/aspectron/flow-ux</a>` ?></div>
        </div>
    </div>
    <!-- footer slot="main">
        <style>.footer-text { font-size: 10px; }</style>
        <img class="logo" src="<?js= logoUrl?>" style="<?js= style ?>">
        <div class="footer-text"><?js= footerText || 'Copyright (c) 2019-2020 ASPECTRON Inc. All Rights Reserved. &bull; <a href="https://flow.aspectron.com">https://flow.aspectron.com</a> &bull; <a href="https://github.com/aspectron/flow-ux">https://github.com/aspectron/flow-ux</a>' ?></div>
    </footer -->
</flow-app>
<?js if(isComponentPage){ ?>
<script type="module" src="<?js= t_a_g_ ?>.js"></script>
<?js } ?>
<script>prettyPrint();</script>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/flow-doc.js"></script>
<script src="scripts/linenumber.js"></script>
<?js if (!isTutorial) { ?>
    <script>

        var id = '<?js= docs[0].longname ?>_sub'.replace(/"/g, '_');
        var selectedApi = document.getElementById(id); // do not use jquery selector
        var $selectedApi = $(selectedApi);

        $selectedApi.removeClass('hidden');
        $selectedApi.parent().find('.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        showLnbApi();
        $(".show-hide-inherited-btn").on("click.x", function(e, el){
            var $btn = $(this);
            var action = $btn.attr("data-action");
            $btn.attr("data-action", action == 'hide' ? 'show' :'hide');
            $btn.html((action=='hide'?'Show':'Hide') + ' inherited')
            $(".inherited-from").each((index, el)=>{
                var $dd = $(el).closest("dd");
                if(!$dd.length)
                    return;
                $dd[action]();
                var $prev = $dd.prev();
                if(!$prev.length || $prev[0].tagName.toLowerCase() != 'dt')
                    return
                $prev[action]();
            })
        })
        if(window.IntersectionObserver){
            var observer = new IntersectionObserver( 
                ([e]) => e.target.toggleAttribute('stuck', e.intersectionRatio < 1),
                {threshold: [1]}
            );
            observer.observe(document.querySelector('.search-container'));
        }
    </script>
<?js } else { ?>
    <script>
        showLnbExamples();
    </script>
<?js } ?>
<script type="module">
    import {ScrollbarStyle} from '<?js= flowUxPath ?>flow-ux.js';
    ScrollbarStyle.appendTo('head');
</script>
</body>
</html>
